* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.head-part {
  height: 10vh;
  width: 100%;
  display: flex;
  background-color: #3367d6;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.app-logo {
  height: 50px;
  width: 120px;
}
.search-container {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-icon-container {
  height: 50px;
  width: 80px;
  background-color: #2850a7;
  padding: 10px;
  border: none;
}
.search-image {
  height: 25px;
  width: 25px;
}
.input-element {
  margin-left: 1px;
  height: 50px;
  width: 350px;
  background-color: #2850a7;
  border: none;
  padding: 10px;
  color: #ffffff;
  font-weight: bold;
}
.input-element::placeholder {
  color: #64748b;
  font-weight: bold;
}
.history-container {
  height: 90vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.history {
  background-color: #ffffff;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  padding: 15px;
  width: 70%;
  border-radius: 5px;
}
.no-history {
  color: #64748b;
  font-weight: bold;
  font-size: 32px;
}
